.navbar {
  background-color: #4CAF50;
  color: white;
  font-family: 'Noto Serif', serif;
}

.navbar-brand {
  font-size: 20px;
}

.navbar a, .navbar a:hover {
  color: white;
  text-decoration: none;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block;
  font-family: 'Noto Serif', serif;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  min-width: 342px;
  font-family: 'Noto Serif', serif;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 342px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Noto Serif', serif;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.center {
  text-align: center;
  margin: 25% auto;
  font-family: 'Noto Serif', serif;
}

#myDropdown {
  overflow-y: scroll;
  max-height: 200px;
}

body {
  background-image: url('../images/black-and-white-business-chart-241544.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.graph {
  /* margin-top: 20px; */
  margin-bottom: 25px;
  padding: 5px;
}

.extra-margin {
  margin: 50px 0px;
}

.card {
  margin: 10px;
  padding: 30px;
  box-shadow: 0px 0px 3px 0px grey;
  font-family: 'Noto Serif', serif;
  border-radius: 5px;
}

.card-title {
  font-weight: bold;
  padding-top: 10px;
}

.article_pic {
  color: black;
}

.article_pic:hover {
  text-decoration: none;
}

.no-box-space {
  margin: 25px;
  padding: 25px;
}

.card-subtitle {
  font-style: italic;
  font-size: 11px;
  padding-bottom: 5px;
}

h1, h2 {
  color: white;
  margin: 40px auto;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

h3 {
  color: white;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  background-color: #4CAF50;
  padding: 10px;
  margin-top: 135px;
  margin-right: 0px;
  border-radius: 5px;
  border-color: white;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

h6 {
  color: white;
  text-align: center;
  font-size: 11px;
  margin-bottom: 25px;
  font-family: 'Noto Serif', serif;
}

.sr-only {
  color: white;
  font-family: 'Noto Serif', serif;
}

h5 {
  padding-bottom: 15px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

/* .newsfeed {
  background-color: grey;
  color: white;
}

.newsfeed_pic {
  color: white;
} */
