{% extends 'bootstrap/base.html' %}

{% block title %}Synaxis Analytics{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../static/js/app.js" type="text/javascript"></script>
{% endblock %}

{% block navbar %}
<!--TODO: Update search button, Make title a link-->
  <nav class="navbar justify-content-between">
    <a class="navbar-brand" href="/index"> <img id="logo" alt="Logo" src="../static/images/Synaxis-1-1.png" width="35" height="40"> <span>Synaxis Analytics</span> </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
{% endblock %}

{% block content %}
  {% block app_content %}{% endblock %}
{% endblock %}
