{% extends 'base.html' %}

{% block title %}Currency - {{ super() }}{% endblock %}

{% block metas %}{{ super() }}<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />{% endblock %}

{% block app_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!--TODO: make the title correspond to the currency id-->
        <h1>{{ id }}</h1>
        <embed class="graph" type="image/svg+xml" src="../static/images/candles.svg" />
        <embed class="graph" type="image/svg+xml" src="../static/images/prices.svg" />
      </div><!--Ending div for col-8-->
      <div class="col-md-4">
        <h3>Testing col-4 width</h3>
        <!--TODO: add current price to display-->
        <h3>Current price: </h3>
      </div><!--Ending div for col-4-->
    </div><!--Ending row-->
  </div><!--Ending container-->
{% endblock %}
